# API
DATABASE_URL=postgresql://user:password@localhost:5432/hesperedia
JWT_SECRET=your-secret-here-min-32-chars-change-in-production
JWT_REFRESH_SECRET=your-refresh-secret-here-change-in-production
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
PORT=4000

# Web
NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
